/*declaracion de fuentes*/
/*  @font-face {
   font-family: 'open_sansregular';
   src: url('fuentes/OpenSans-Regular-webfont.eot');
   src: url('fuentes/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fuentes/OpenSans-Regular-webfont.woff') format('woff'),
        url('fuentes/OpenSans-Regular-webfont.ttfna') format('truetype'),
        url('fuentes/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
   font-weight: normal;
   font-style: normal;

}  */

/*Estilos de icon fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
	font-family: 'pulse';
	src:url('fuentes/pulse.eot?-7rf2q6');
	src:url('fuentes/pulse.eot?#iefix-7rf2q6') format('embedded-opentype'),
		url('fuentes/pulse.woff?-7rf2q6') format('woff'),
		url('fuentes/pulse.ttf?-7rf2q6') format('truetype'),
		url('fuentes/pulse.svg?-7rf2q6#pulse') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'pulse';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pluma:before {
	content: "\e908";
	margin-right: 0.8em;
}

.icon-estrella:before {
	content: "\e9d9";
	color: #FFBE2C;
	margin-right: 0.4em;
	position: relative;
	top: 0.2em;
}
.icon-f-arriba:before {
	content: "\ea41";
}

.icon-f-abajo:before {
	content: "\ea43";
	color: #DD4F24;	
}

/*Estilos de Pagina*/
a
{
	color:#22BCE0;
}
aside
{
	display: none;
}
body
{
	background: #EEEEEE;
	font-family: "Open Sans"; /* Utiliza la llamada definida en el html */
	/* font-family: "open_sansregular"; */ 
	font-size: 16px;
}
header
{
	background: #343B54;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}
header figure
{
	float: left;
	margin: 0;
}
header h1
{
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.2em 70px 0 0;
}
header #avatar
{
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top:0;	
}
header #avatar img
{
	border-radius: 50%;
	width: 52px;
}
header #logo
{
	border-right: 1px solid white;
	margin-right: 0.5em;

}
header #logo img
{
	border-radius: 50%; /*solo porque mi logo no esta redondo*/		
	margin-right: 0.5em;
	padding-right: 0.5em;
	-webkit-transition: 0.5s;	
	width: 52px;	
}
header #logo img:hover
{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	
}
footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1.5em;
	text-align: center;
}
footer p:first-child
{
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:after
{
	content: " -";
}
footer p:last-child:before
{
	content: "- ";
}
nav
{
	background: #80BCA3;
	box-shadow: rgba(0,0,0,0.5) 0px 2px 10px;
	padding: 0 6em 0 0;
	position: relative;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
} 
nav ul #publicar_nav
{	
	position: absolute;
	top: -0.3em; /* se coloca en negativo para que le reste al nav 0.4 y no se salga sino que como centra*/
	right: 0;
}
nav ul #publicar_nav a
{
	background: #22BCE0;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	border-radius: 0.2em;
	font-style: italic;
	padding: 0.8em 0.5em 0.8em 2.5em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}
nav ul #publicar_nav a.disabled
{
	background: grey;
	box-shadow: none;
	color: red;
	cursor: default;
}
nav ul #publicar_nav a:before
{
	left: .5em;
	position: absolute;
	top: .7em;
}
nav ul #publicar_nav a:hover:before
{
	color: red;
	font-size: 1.2em;
}
nav ul li
{
	display: inline-block;
	margin: 0 1em 0 0;
}
nav ul li a
{
	color: white;
	display: block;	
	padding: 0.5em;	
	-webkit-transition: 0.3s;
}
nav ul li a:hover
{
	background: #343B54;
}
#contenido
{
	margin: 1em;
}
#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 2em;
	/* overflow: hidden; */ /*comentado por imgane utilizada*/
	min-height: 108px;
	position: relative;
}
#contenido .item .autor_item
{
	color: #AAA;
}
#contenido .item .datos_item
{
	margin: 1em 1em 0 0;
	text-align: right;
}
#contenido .item .datos_item .fecha_item
{
	color: #AAA;
}
#contenido .item .datos_item .tag_item
{
	background: #F4502A;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	float: left;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
#contenido .item .imagen_item
{
	float: left;
	margin: 0 3em 0 0;
}
#contenido .item .imagen_item img
{
	height: 96px; /*agregado por no tener una imagen del tamaño recomendado*/
	width: 96px;
}
#contenido .item .titulo_item
{
	font-size: 1.2em;
	font-style: italic;
	padding-top: 0.2em 0.2em 0 0; /*modificado el 1em de la clase por imagen mas pequeña*/
}
#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
}
#contenido .item .votacion
{
	border-radius: 0 0 0.5em 0.5em;
	background: white;
	left: 1%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	position: absolute;
	top: 100%;	
	width: 96%
}
#contenido .item .votacion a
{
	text-decoration: none;
}
#contenido .item .votacion .comentarios_item, 
#contenido .item .votacion .guardar_item 
{
	float: right;
}

/* Mediaquery para convertir a dos columns cuando se accese 
la pagina desde resoluciones a partir de 800px*/
@media screen and (min-width: 768px){
	
	#contenido{
		overflow: hidden;
	}
	#contenido .item {
		float: left;
		/* margin-right: 1%; */
		margin-bottom: 3em; 
		width: 49%;
	}
	#contenido .item:nth-child(odd) {
		margin-right: 2%;		
	}
}
@media screen and (min-width: 1000px){
	aside
	{
		display: block;
		float: right;
		margin:1em;
		width: 25%;
	}
	video
	{
		width: 100%;
	}
}
	
/**
 * FORMULARIO
 */

.formulario 
{
	display: none;
	padding: 1em;
	text-align: right;
}
.formulario input
{
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 0.2em 0.6em;
}
.formulario input[type="submit"]
{
	background: #22BCE0;
	border-color: #22BCE0;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	color: white;
	font-style: italic;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;	
}